<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Sign Page</h1>
<form method="post" >
    {% csrf_token %}
    {% if msg %}
<h3 style="color:red">Enter proper Details</h3>
{% endif %}
    <table>
        <tr>
            <td>User Name:</td>
            <td><input type="text" name="txtname"></td>
        </tr>
         <tr>
             <td>Email:</td>
            <td><input type="email" name="txtmail"></td>
        </tr>
         <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
         <tr>
            <td><input type="submit" value="register"></td>
            <td><button><a href="{% url 'log' %}">Login</a></button></td>
        </tr>
    </table>
</form>
</body>
</html>